{% extends 'portefeuilleBundle:layouts:mainLayout.html.twig' %}

{% block body -%}

<div class="col-lg-6">
    <section class="panel">
        <header class="panel-heading">
           Contact
        </header>
        <div class="panel-body">
                {{ form_start(form) }}
            <div id="form_nom" class="form-group">
                {{ form_row(form.nom) }}        
            </div>
            <div id="form_prenom" class="form-group">
                {{ form_row(form.prenom) }}
            </div>
            <div id="form_num" class="form-group" >
                {{ form_row(form.numero)  }}
                {#<div id="erreur_num" type="inline" style="visibility: hidden;padding:5px;" class="alert alert-warning fade in">
                    Ce n'est pas un numéro de téléphone valide
                </div>#}
            </div>
            <div id="form_email" class="form-group">
                {{ form_row(form.email) }}
               {# <div id="erreur_mail" style="visibility: hidden;padding:5px;" class="alert alert-warning fade in">
                    Ce n'est pas une adresse e-mail valide
                </div>#}
            </div>
            <div id="form_message" class="form-group text-lock">
               {{ form_row(form.message) }}
            </div>
            
            {{ form_row(form.submit) }}
            {{ form_end(form) }}
        </div>
    </section>
</div>
{% endblock %}
