<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a class="dcjq-parent" href="{{ path('accueil') }}">
                    <i class="fa fa-dashboard"></i>
                        <span>
                            Accueil
                        </span>
                </a>
            </li>
            <li class="sub-menu dcjq-parent-li">
                <a class="dcjq-parent" href="{{ path('cv') }}">
                    <i class="fa fa-laptop"></i>
                        <span>
                            C.V
                        </span>

                </a>

            </li>
            <li class="sub-menu dcjq-parent-li">
                <a class="dcjq-parent" href="{{ path('stage') }}">
                    <i class="fa fa-book"></i>
                        <span>
                            Stage
                        </span>

                </a>

            </li>
            <li class="sub-menu dcjq-parent-li">
                <a class="dcjq-parent" href="{{ path('tp') }}">
                    <i class="fa fa-cogs"></i>
                        <span>
                            TP&PPE
                        </span>

                </a>

            </li>
            <li>
                <a class="dcjq-parent" href="{{ path('contact_new') }}">
                    <i class="fa fa-dashboard"></i>
                        <span>
                            contact
                        </span>
                </a>
            </li>
            
                  <!--multi level menu end-->
              </ul>
              <!-- sidebar menu end-->{# empty Twig template #}
    </div>
</aside>